body {
    background-image: url(bg4.jpg);
    ;
    background-repeat: no-repeat;
    background-size: cover;
}


#login {
    background-color: rgb(255, 255, 255);
    width: 400;
    height: 680;
    opacity: .9;
    margin: 50px 9%;
    border-radius: 20px;
}

#logo_text {
    text-align: center;
    color: #000;
    padding: 10px;
    padding-bottom: 15px;
    word-spacing: 12px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #56ffa7;
}

.logo {
    width: 70px;
    border-radius: 50%;
    margin-top: -20px;

}

i {
    padding-right: 20px;
}

.textarea {
    border-left: 0px;
    border-right: solid grey 4px;
    border-top: 0px;
    border-bottom: solid 1.7px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 0px 10px;
    height: 30px;
    width: 15rem;
}

#gender {
    margin: 10px;
    margin-top: 5px;
    margin-left: -75px;


}
#gender>span>i {
    margin-right: 8px;
    margin-left: 10px;   
}
#city {
    margin: 10px;
    margin-top: 0px;
    margin-left: -123px;
    margin-bottom: 20px;


}

#city>span>i {
    margin-right: 9px;
    margin-left: 10px;
}

#name:hover, #pass:hover, #mail:hover {
    box-shadow: -3px 3px teal;
}

#forgot {
    margin-left: 30%;
    font-size: small;
}


.btn {
    border-radius: 10px;
    font-size: large;
    margin: 20px;
    justify-content: space-between;
    background-color: #2f54fa;
    width: 25%;
    height: 30px;
    border: none;
    color: white;
    margin-bottom: -10px;


}

.btn:hover {
    background-color: #0329d3;
    border-radius: 10px;
    width: 25%;
    height: 30px;
    color: white;


}
#newbtn{
    font-weight: 100px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.other_opt {
    width: 20%;
    border-radius: 100%;
    margin-top: -10px;
    margin-bottom: -10px;


}